*{
    margin: 0;
    padding: 0;
}
body{
    padding: 45px;
    background-color: grey;
}
.card{
    border-radius: 7px;
    background-color: white;
    width: 198px;
    padding: 0 0 34px;
}
.image{
    padding:5px;
}

.image img{
    border-radius: 7px;
}
.content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px 13px;
}

.content p{
    color: gray;
    font-size: 9px;
}
.capsule{
    padding: 0 28px 0 14px;
}
.capsule span{ 
    font-family: Georgia, 'Times New Roman', Times, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid gray;
    padding: 0px 6px;
    border-radius: 7px;
    font-size: 12px;
}
.button{
    text-align: center;
}
.button button{
    padding: 7px 9px;
    color: blue;
    border-radius: 15px;
    background-color: skyblue;
    font-size: 8px;
    border: none;
    margin-top: 7px;
    cursor: pointer;
    font-weight: bolder;
}
.button button:hover{
    background-color: red;
    color: black;
}