.container{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    background-color: red;
}