body{
    margin: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(153, 246, 13);
}
.terminal{
    background-color: black;
    color: greenyellow;
    height: 24vh;
    width: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 34px;
    position: relative;
    overflow: hidden;
}

.terminal span{
    animation: blink ease infinite 1s;
}
@keyframes blink{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}
